<div class="contenido-tab">

  <form action="" method="post" id="actualizar_entrevista"
class="pure-form  pure-form-stacked" >


    <span class="ui-helper-hidden-accessible"><input type="text"/></span>
   <fieldset>
   <legend>
     <img src="https://cdn1.iconfinder.com/data/icons/customicondesign-office6-shadow/256/checklist.png"
          width="24px" height="24px">
     Datos de la Entrevista</legend>

     <input type="hidden"  name="identificador" id="identificador" value="<%=@entrevista.r_id %>"/>

     <label for="fecha_llamada">Fecha Llamada</label>
     <input type="text"  name="fecha_llamada" id="fecha_llamada" value="<%=@entrevista.fecha_llamada %>" />

     <label for="lugar">Lugar</label>
     <input type="text"  name="lugar" id="lugar" value="<%=@entrevista.lugar%>" />

     <label for="como_supo">¿Como supo de ASDRA?</label>
     <textarea rows="4" cols="50" id="como_supo"  name="como_supo">
       <%=@entrevista.como_supo%>
     </textarea>

   </fieldset>
   <fieldset>
   <legend>
     <img src="<%=image_url('padre.png')%>" width="24px" height="24px">
     Datos del Papá</legend>

     <label for="papa_nombre_apellido">Nombre y Apellido del Papá</label>
     <input type="text"  name="papa_nombre_apellido" id="papa_nombre_apellido" value="<%=@entrevista.papa_nombre_apellido%>" />
     <label for="papa_edad">Edad del Papá</label>
     <input type="text"  name="papa_edad" id="papa_edad" value="<%=@entrevista.papa_edad%>" />
     <label for="papa_ocupacion">Ocupación del Papá</label>
     <input type="text"  name="papa_ocupacion" id="papa_ocupacion" value="<%=@entrevista.papa_ocupacion%>" />
     <label for="papa_domicilio">Domicilio del Papá</label>
     <input type="text"  name="papa_domicilio" id="papa_domicilio" value="<%=@entrevista.papa_domicilio%>" />
     <img src="http://png-3.findicons.com/files/icons/2305/mobile_icon_set/128/04_maps.png" width="24px" height="24px" title="¿Cómo llego?"/>
     <label for="papa_telefonos">Telefonos del Papá</label>
     <input type="text"  name="papa_telefonos" id="papa_telefonos" value="<%=@entrevista.papa_telefonos%>" />
     <label for="papa_correo">Correo del Papá</label>
     <input type="text"  name="papa_correo" id="papa_correo" value="<%=@entrevista.papa_correo%>" />


   </fieldset>

    <fieldset>
      <legend>
        <img src="<%image_url('madre.png')%>" width="24px" height="24px">

        Datos de la Mamá</legend>

      <label for="mama_nombre_apellido">Nombre y Apellido de la Mamá</label>
      <input type="text"  name="mama_nombre_apellido" id="mama_nombre_apellido" value="<%=@entrevista.mama_nombre_apellido%>" />
      <label for="mama_edad">Edad de la Mamá</label>
      <input type="text"  name="mama_edad" id="mama_edad" value="<%=@entrevista.mama_edad%>" />
      <label for="mama_ocupacion">Ocupación de la Mamá</label>
      <input type="text"  name="mama_ocupacion" id="mama_ocupacion" value="<%=@entrevista.mama_ocupacion%>" />
      <label for="mama_domicilio">Domicilio de la Mamá</label>
      <input type="text"  name="mama_domicilio" id="mama_domicilio" value="<%=@entrevista.mama_domicilio%>" />
      <img src="http://png-3.findicons.com/files/icons/2305/mobile_icon_set/128/04_maps.png" width="24px" height="24px" title="¿Cómo llego?"/>
      <label for="mama_telefonos">Telefonos de la Mamá</label>
      <input type="text"  name="mama_telefonos" id="mama_telefonos" value="<%=@entrevista.mama_telefonos%>" />
      <label for="mama_correo">Correo de la Mamá</label>
      <input type="text"  name="mama_correo" id="mama_correo" value="<%=@entrevista.mama_correo%>" />

    </fieldset>

    <fieldset>
      <legend>
        <img src="<%=image_url('baby.png')%>" width="24px" height="24px">

        Datos del Hijo/Hija</legend>
      <label for="nombres">Nombre(s)</label>
      <input type="text"  name="nombres" id="nombres" value="<%=@entrevista.nombres%>" />
        <label for="ubicacion">Ubicación</label>
        <select id="id_ubicacion" name="id_ubicacion">
          <option value=""></option>
          <%@ubicaciones.each do | ubicacion |%>
              <option value="<%=ubicacion.r_id%>">
                <%= "#{ubicacion.descripcion}" %>
              </option>
          <%
             end
          %>
        </select>
        <label for="sexo">Sexo</label>
        <select id="sexo" name="sexo">
          <option value=""></option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      <label for="fecha_nacimiento">Fecha de Nacimiento</label>
      <input type="text"  name="fecha_nacimiento" id="fecha_nacimiento" value="<%=@entrevista.fecha_nacimiento%>" />
      <label for="institucion_nacimiento">Institucion Nacimiento</label>
      <input type="text"  name="institucion_nacimiento" id="institucion_nacimiento" value="<%=@entrevista.institucion_nacimiento%>" />
      <label for="observacion_institucion">Observaciones de la Institución</label>
      <textarea rows="4" cols="50" name="observacion_institucion" id="observacion_institucion" ><%=@entrevista.observacion_institucion%></textarea>
      <label for="meses_nacimiento">Meses de Nacimiento</label>
      <input type="text"  name="meses_nacimiento" id="meses_nacimiento" value="<%=@entrevista.meses_nacimiento%>" />
      <label for="parto_normal">Tilde si fue un parto normal</label>
      <input type="checkbox" class="pure-checkbox" name="parto_normal" id="parto_normal" />
      <label for="sabia_sdown">Tilde si previo al parto ya sabía que tenía Síndrome de Down</label>
      <input type="checkbox" class="pure-checkbox" name="sabia_sdown" id="sabia_sdown" />
      <label for="recepcion_flia">¿Cómo lo recibio la familia?</label>
      <textarea rows="4" cols="50" id="recepcion_flia" name="recepcion_flia" ><%=@entrevista.recepcion_flia%></textarea>
      <label for="patologia_agregada">Patología Agregada</label>
      <textarea rows="4" cols="50" placeholder="Agregue aqui patalogías adicionales..." id="patologia_agregada" name="patologia_agregada" ><%=@entrevista.patologia_agregada%></textarea>

    </fieldset>

    <fieldset>

      <legend>
        <img src="http://icons.iconarchive.com/icons/anatom5/people-disability/128/seniors-icon.png" width="24" height="24">
        Datos de los Hermano/as</legend>

      <table id="flex-hermanos" style="display:none"></table>
    </fieldset>


    <fieldset>

      <legend>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwwsPjW_fuAQqMBgbDXmbHHzxtC4O_eRD2UfNLOCKwKmL_ndH00w" width="24" height="24">
        Observaciones</legend>
      <textarea rows="4" cols="50" id="observaciones" name="observaciones" readonly="readonly"><%=@entrevista.observaciones%></textarea>
    </fieldset>


    <input type="hidden" id="hermanos_json" name="hermanos_json" value=""/>

<br>
    <center>
      <input type="button" onClick="enviar_formulario();" class="pure-button pure-button-primary" name="submit" value="Actualizar esta Entrevista" id="submitbutton"/>

    </center>

</form>

  <script type="text/javascript">

    function enviar_formulario(sender) {

        $("#actualizar_entrevista").validate();

        if(!$("#actualizar_entrevista").valid()) return;

        var postData = $("#actualizar_entrevista").find('input, select, textarea, button').serializeArray();

        var formURL = "<%=entrevista_do_actualizar_entrevista_path%>";

            $.ajax({
                url : formURL,
                type: "POST",
                data : postData,
                //contentType:"application/json; charset=utf-8",
                // dataType:"json",
                success:function(data, textStatus, jqXHR) {
                    if(data.status==="OK") {
                        $("#modal_entrevista_actualizacion_exitosa").dialog({
                            modal: true,
                            buttons: {
                                Ok: function () {
                                    $(this).dialog("close");
                                    $("#ventana_entrevista").dialog("close");
                                }
                            }
                        });
                        $('#flex1').flexReload();
                    }
                    else {
                        do_sesion_expiro();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    mostrar_error_tecnico();
                }
            });
    }


      jQuery.validator.addMethod('fecha_retroactiva',
              function(currentValue, validatedElement, args) {
                  return $("#" + args[0]).val() <= $("#" + args[1]).val();
              },
              'La Fecha de Llamada de una Entrevista debe ser el mismo día o posterior al de Fecha de Entrevista.'
      );


    $("#actualizar_entrevista").validate({
        invalidHandler: function(event, validator) {
            $("#modal_entrevista_actualizacion_fallida_revisar_campos_obligatorios").dialog({
                        modal: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    }
            );
        },
        submitHandler: function() {
        },
        rules: {
            "fecha_llamada"     : { required: true, minlength: 10},
            "fecha_entrevista"  : {
                //required: true,
                minlength: 10
                //fecha_retroactiva: ["fecha_llamada", "fecha_entrevista"]
            }
        }
    });


    $(function() {
        $( '#fecha_llamada' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#fecha_entrevista' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#fecha_nacimiento' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#papa_edad' ).spinner({
            max: 120,
            min: 12
        });
        $( '#mama_edad' ).spinner({
            max: 120,
            min: 12
        });
        $( '#meses_nacimiento' ).spinner({
            max: 9,
            min: 5
        });

    });

</script>

<div id="modal_entrevista_actualizacion_exitosa" title="Mensaje" style="display:none;">
  La entrevista ha sido actualizada en forma exitosa!
</div>


  <div id="modal_entrevista_actualizacion_fallida_revisar_campos_obligatorios" title="Mensaje" style="display:none;">
    La entrevista no puede ser actualizada porque algunos campos son obligatorios y no fueron completados, revise los campos indicados (*) y luego vuelva a aceptar.
  </div>

</div>
