<div class="contenido-tab">

  <form action="" method="post" id="alta_nueva_entrevista"
class="pure-form  pure-form-stacked" >

    <span class="ui-helper-hidden-accessible"><input type="text"/></span>

   <fieldset>
   <legend>
     <img src="https://cdn1.iconfinder.com/data/icons/customicondesign-office6-shadow/256/checklist.png"
          width="24px" height="24px">
     Datos de la Entrevista</legend>

   <label for="fecha_llamada">Fecha Llamada</label>
   <input type="text"  name="fecha_llamada" id="fecha_llamada" placeholder="<%=Time.now.strftime('%d-%m-%Y') %>"/>
   <label for="lugar">Lugar</label>
   <input type="text"  name="lugar" id="lugar" placeholder="Ciudad Autónoma de Buenos Aires"/>
   <label for="mama_escucha">Mamá Escucha</label>
     <select id="mama_escucha" name="mama_escucha">
       <option value=""></option>
       <%@mamas_escuchan.each do | mama_escucha |%>
           <option value="<%=mama_escucha.r_id%>">
             <%= "#{mama_escucha.apellidos}, #{mama_escucha.nombres}" %>
           </option>
       <%
          end
       %>
     </select>

   <label for="papa_escucha">Papá Escucha</label>
     <select id="papa_escucha" name="papa_escucha">
       <option value=""></option>
       <%@papas_escuchan.each do | papa_escucha |%>
       <option value="<%=papa_escucha.r_id%>">
         <%= "#{papa_escucha.apellidos}, #{papa_escucha.nombres}" %>
       </option>
       <%
          end
       %>
     </select>

   <label for="como_supo">¿Como supo de ASDRA?</label>
   <textarea  rows="4" cols="50" id="como_supo" name="como_supo" placeholder="Se enteró por..."></textarea>

   </fieldset>

   <fieldset>
   <legend>
         <img src="<%=image_url('padre.png')%>" width="24px" height="24px">
     Datos del Papá</legend>

    <label for="papa_nombre_apellido">Nombre y Apellido</label>
    <input type="text"  name="papa_nombre_apellido" id="papa_nombre_apellido" />
    <label for="papa_edad">Edad</label>
    <input type="text"  name="papa_edad" id="papa_edad" />
    <label for="papa_ocupacion">Ocupación</label>
    <input type="text"  name="papa_ocupacion" id="papa_ocupacion" />
    <label for="papa_domicilio">Domicilio</label>
    <input type="text"  name="papa_domicilio" id="papa_domicilio" />
    <label for="papa_telefonos">Telefonos</label>
    <input type="text"  name="papa_telefonos" id="papa_telefonos" />
    <label for="papa_correo">Correo</label>
    <input type="text"  name="papa_correo" id="papa_correo" />

    </fieldset>

    <fieldset>
      <legend>
        <img src="<%=image_url('madre.png')%>" width="24px" height="24px">

        Datos de la Mamá</legend>
      
        <label for="mama_nombre_apellido">Nombre y Apellido</label>
        <input type="text"  name="mama_nombre_apellido" id="mama_nombre_apellido" />
        <label for="mama_edad">Edad</label>
        <input type="text"  name="mama_edad" id="mama_edad" />
        <label for="mama_ocupacion">Ocupación</label>
        <input type="text"  name="mama_ocupacion" id="mama_ocupacion" />
        <label for="mama_domicilio">Domicilio</label>
        <input type="text"  name="mama_domicilio" id="mama_domicilio" />
        <label for="mama_telefonos">Telefonos</label>
        <input type="text"  name="mama_telefonos" id="mama_telefonos" />
        <label for="mama_correo">Correo</label>
        <input type="text"  name="mama_correo" id="mama_correo" />
    </fieldset>

    <fieldset>
      <legend>
        <img src="/<%=image_url('baby.png')%>" width="24px" height="24px">

        Datos del Hijo/Hija</legend>
      <label for="nombres">Nombre(s)</label>
      <input type="text"  name="nombres" id="nombres"/>
        <label for="ubicacion">Ubicación</label>
        <select id="id_ubicacion" name="id_ubicacion">
          <option value=""></option>
          <%@ubicaciones.each do | ubicacion |%>
              <option value="<%=ubicacion.r_id%>">
                <%= "#{ubicacion.descripcion}" %>
              </option>
          <%
             end
          %>
        </select>
        <label for="sexo">Sexo</label>
        <select id="sexo" name="sexo">
          <option value=""></option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        <input type="text"  name="fecha_nacimiento" id="fecha_nacimiento" placeholder="<%=Time.now.strftime('%d-%m-%Y') %>"/>
        <label for="institucion_nacimiento">Institucion Nacimiento</label>
        <input type="text"  name="institucion_nacimiento" id="institucion_nacimiento" />
        <label for="observacion_institucion">Observaciones de la Institución</label>
        <textarea rows="4" cols="50" name="observacion_institucion" id="observacion_institucion" placeholder="Agregue aqui sus observaciones de la institución..."></textarea>
        <label for="meses_nacimiento">Meses de Nacimiento</label>
        <input type="text"  name="meses_nacimiento" id="meses_nacimiento" />
        <label for="parto_normal">Tilde si fue un parto normal</label>
        <input type="checkbox" class="pure-checkbox" name="parto_normal" id="parto_normal" />
        <label for="sabia_sdown">Tilde si previo al parto ya sabía que tenía Síndrome de Down</label>
        <input type="checkbox" class="pure-checkbox" name="sabia_sdown" id="sabia_sdown" />
        <label for="recepcion_flia">¿Cómo lo recibio la familia?</label>
        <textarea rows="4" cols="50" id="recepcion_flia" name="recepcion_flia"></textarea>
        <label for="patologia_agregada">Patología Agregada</label>
        <textarea rows="4" cols="50" placeholder="Agregue aqui patalogías adicionales..." id="patologia_agregada" name="patologia_agregada"></textarea>

    </fieldset>

    <fieldset>

      <legend>
        <img src="http://icons.iconarchive.com/icons/anatom5/people-disability/128/seniors-icon.png" width="24" height="24">
        Datos de los Hermano/as</legend>

      <table id="flex-hermanos" style="display:none"></table>
    </fieldset>

    <fieldset>

      <legend>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwwsPjW_fuAQqMBgbDXmbHHzxtC4O_eRD2UfNLOCKwKmL_ndH00w" width="24" height="24">
        Observaciones</legend>
      <textarea rows="4" cols="50" placeholder="Agregue aqui sus observaciones generales acerca de la entrevista..." id="observaciones" name="observaciones"></textarea>
    </fieldset>

    <input type="hidden" id="hermanos_json" name="hermanos_json" value=""/>

    <input type="button" onClick="enviar_formulario();" class="pure-button pure-button-primary" name="submit" value="Dar de Alta esta Entrevista" id="submitbutton"/>

</form>

  <script type="text/javascript">

      $('#ventana_hermano').dialog({
          autoOpen: false,
          resizable: false,
          modal: true,
          width:'auto',
          height: 'auto',
          draggable: false,
          position: 'center'
      });

    function enviar_formulario(sender) {

        $("#alta_nueva_entrevista").validate();

        if(!$("#alta_nueva_entrevista").valid()) return;

        $("#hermanos_json").val(JSON.stringify(testData));

        var postData = $("#alta_nueva_entrevista").find('input, select, textarea, button').serializeArray();

        var formURL = "<%=entrevista_do_alta_nueva_entrevista_path%>";

            $.ajax({
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR) {
                    if(data.status==="OK") {
                        $("#modal_entrevista_alta_exitosa").dialog({
                            modal: true,
                            buttons: {
                                Ok: function () {
                                    $(this).dialog("close");
                                    $("#ventana_entrevista").dialog("close");
                                }
                            }
                        });
                        $('#flex1').flexReload();
                    }
                    else {
                        mostrar_error_tecnico();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    mostrar_error_tecnico();
                }
            });
    }


      jQuery.validator.addMethod('fecha_retroactiva',
              function(currentValue, validatedElement, args) {
                  return $("#" + args[0]).val() <= $("#" + args[1]).val();
              },
              'La Fecha de Llamada de una Entrevista debe ser el mismo día o posterior al de Fecha de Entrevista.'
      );


    $("#alta_nueva_entrevista").validate({
        invalidHandler: function(event, validator) {
            $("#modal_entrevista_alta_fallida_revisar_campos_obligatorios").dialog({
                        modal: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    }
            );
        },
        submitHandler: function() {
        },
        rules: {
            "fecha_llamada"     : { required: true, minlength: 10},
        }
    });


    var testData = 'sin hermanos cargados';

    $(function() {
        $( '#fecha_llamada' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#fecha_entrevista' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#fecha_nacimiento' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#papa_edad' ).spinner({
            max: 120,
            min: 12
        });
        $( '#mama_edad' ).spinner({
            max: 120,
            min: 12
        });
        $( '#meses_nacimiento' ).spinner({
            max: 9,
            min: 5
        });

        testData = {
            page: 1,
            total: 0,
            rows: []
        };

        $("#flex-hermanos").flexigrid ({
                    dataType: 'json',
                    width: 382,
                    height: 142,
                    buttons : [
                        {name: 'Nuevo'    , bclass: 'iconButtonAdd'   , onpress : comandosGrillaHermanos },
                        {name: 'Modificar', bclass: 'iconButtonEdit'  , onpress : comandosGrillaHermanos },
                        {name: 'Eliminar' , bclass: 'iconButtonDelete', onpress : comandosGrillaHermanos }
                    ],
                    colModel : [
                        {hide : true, display: 'Identificador', name: 'r_id', width: 100, sortable: true, align: 'left'},
                        {display: 'Nombre(s)', name: 'nombres', width: 100, sortable: true, align: 'left'},
                        {display: 'Fecha Nacimiento', name: 'fecha_nacimiento', width: 100, sortable: true, align: 'left'},
                        {display: '¿Convive?', name: 'convive', width: 100, sortable: true, align: 'left'}
                    ],
                   //    sortname: "r_id",
                    sortorder: "asc",
                    usepager: false,
                    useRp: false,
                    rp: 5,
                    showTableToggleBtn: false,
                    resizable: false,
                    singleSelect: true
                }
        );

        $("#flex-hermanos").flexAddData(testData);

    });

    function comandosGrillaHermanos(command, grid) {

        var rows = $('.trSelected', grid);
        var rows_selected = rows.size();

        if(command === "Nuevo") {
            mostrar_alta_nuevo_hermano();
            return;
        }

        else if(rows_selected == 0) {
            alert('No hay ningun Hermano seleccionado para iniciar la acción.');
            return;
        }

        var id = null;
        var ids = [];

        rows.each(function() {
            id = $(this).find("[abbr='r_id']")[0].innerText.trim();
            ids.push(id);
        });

        switch(command) {
            case "Modificar":
                alert('Funcionalidad no disponible, se ecuentra en desarrollo actualmente...');
                return;
                mostrar_actualizar_hermano(id);
                break;
            case "Eliminar":
                alert('Funcionalidad no disponible, se ecuentra en desarrollo actualmente...');
                return;
                enviar_eliminacion_hermano(ids);
                break;
        }
    }

    function mostrar_alta_nuevo_hermano() {

        $.ajax({
            url: '/entrevista/alta_nuevo_hermano',
            method: 'GET',
            contentType: 'text/html',
            success: function(data) {
                $("#ventana_hermano").html(data).dialog('open', { title: 'Alta de Nuevo Hermano'});
            }
        });
    }

    function mostrar_actualizar_hermano(id) {

    }

    function enviar_eliminacion_hermano(id) {

        for(var i=0;i<testData.rows.length -1;i++) {
            if(id === testData.rows[i].cell[0]) {
                testData[i].splice(i, 1);
            }
        }
        testData.total = testData.rows.length;
        $("#flex-hermanos").flexAddData(testData);

    }


</script>

<div id="modal_entrevista_alta_exitosa" title="Mensaje" style="display:none;">
  La entrevista ha sido dada de alta en forma exitosa!
</div>


  <div id="modal_entrevista_alta_fallida_revisar_campos_obligatorios" title="Mensaje" style="display:none;">
    La entrevista no puede ser dada de alta porque algunos campos son obligatorios y no fueron completados, revise los campos indicados (*) y luego vuelva a aceptar.
  </div>

  <div id="ventana_hermano"  style="display:none;"></div>

</div>
