<div class="contenido-tab">

  <form action="" method="post" id="alta_nueva_entrevista"
class="pure-form  pure-form-stacked" >


   <!-- <div id="tabs-alta-nueva-entrevista" >
      <ul>
        <li><a href="#tab-datos-entrevista">Paso 1 - La Entrevista</a></li>
        <li><a href="#tab-datos-papa">Paso 2 - El Papá</a></li>
        <li><a href="#tab-datos-mama">Paso 3 - La Mamá</a></li>
        <li><a href="#tab-datos-nacimiento">Paso 4 - El Nacimiento</a></li>
        <li><a href="#tab-observaciones-generales">Paso 5 - Obsrevaciones</a></li>
      </ul>


   <div id="tab-datos-entrevista">
-->
   <fieldset>
   <legend>
     <img src="https://cdn1.iconfinder.com/data/icons/customicondesign-office6-shadow/256/checklist.png"
          width="24px" height="24px">
     Datos de la Entrevista</legend>

   <label for="fecha_llamada">Fecha Llamada</label>
   <input type="text"  name="fecha_llamada" id="fecha_llamada" placeholder="<%=Time.now.strftime('%d-%m-%Y') %>"/>
   <label for="fecha_entrevista">Fecha Entrevista</label>
   <input type="text"  name="fecha_entrevista" id="fecha_entrevista" placeholder="<%=Time.now.strftime('%d-%m-%Y') %>"/>
   <label for="lugar">Lugar</label>
   <input type="text"  name="lugar" id="lugar" placeholder="Ciudad Autónoma de Buenos Aires"/>
   <label for="mama_escucha">Mamá Escucha</label>
     <select id="mama_escucha" name="papa_escucha">
       <option value=""></option>
       <%@mamas_escuchan.each do | mama_escucha |%>
           <option value=" <%=mama_escucha.r_id%> ">
             <%= "#{mama_escucha.apellidos}, #{mama_escucha.nombres}" %>
           </option>
       <%
          end
       %>
     </select>

   <label for="papa_escucha">Papá Escucha</label>
     <select id="papa_escucha" name="papa_escucha">
       <option value=""></option>
       <%@papas_escuchan.each do | papa_escucha |%>
       <option value=" <%=papa_escucha.r_id%> ">
         <%= "#{papa_escucha.apellidos}, #{papa_escucha.nombres}" %>
       </option>
       <%
          end
       %>
     </select>

   <label for="como_supo">¿Como supo de ASDRA?</label>
   <textarea rows="4" cols="50" id="como_supo" name="como_supo">Se enteró por...</textarea>

   </fieldset>
   <!--</div>

   <div id="tab-datos-papa">
-->
   <fieldset>
   <legend>
     <img src="assets/padre.png" width="24px" height="24px">
     Datos del Papá</legend>

    <label for="papa_nombre_apellido">Nombre y Apellido del Papá</label>
    <input type="text"  name="papa_nombre_apellido" id="papa_nombre_apellido" />
    <label for="papa_edad">Edad del Papá</label>
    <input type="text"  name="papa_edad" id="papa_edad" />
    <label for="papa_ocupacion">Ocupación del Papá</label>
    <input type="text"  name="papa_ocupacion" id="papa_ocupacion" />
    <label for="papa_domicilio">Domicilio del Papá</label>
    <input type="text"  name="papa_domicilio" id="papa_domicilio" />
    <label for="papa_telefonos">Telefonos del Papá</label>
    <input type="text"  name="papa_telefonos" id="papa_telefonos" />
    <label for="papa_correo">Correo del Papá</label>
    <input type="text"  name="papa_correo" id="papa_correo" />

    </fieldset>

   <!--     </div>

    <div id="tab-datos-mama">
-->
    <fieldset>
      <legend>
        <img src="assets/madre.png" width="24px" height="24px">

        Datos de la Mamá</legend>
      
        <label for="mama_nombre_apellido">Nombre y Apellido de la Mamá</label>
        <input type="text"  name="mama_nombre_apellido" id="mama_nombre_apellido" />
        <label for="mama_edad">Edad de la Mamá</label>
        <input type="text"  name="mama_edad" id="mama_edad" />
        <label for="mama_ocupacion">Ocupación de la Mamá</label>
        <input type="text"  name="mama_ocupacion" id="mama_ocupacion" />
        <label for="mama_domicilio">Domicilio de la Mamá</label>
        <input type="text"  name="mama_domicilio" id="mama_domicilio" />
        <label for="mama_telefonos">Telefonos de la Mamá</label>
        <input type="text"  name="mama_telefonos" id="mama_telefonos" />
        <label for="mama_correo">Correo de la Mamá</label>
        <input type="text"  name="mama_correo" id="mama_correo" />
    </fieldset>

   <!-- </div>

    <div id="tab-datos-nacimiento">
-->
    <fieldset>
      <legend>
        <img src="/assets/baby.png" width="24px" height="24px">

        Datos del Nacimiento</legend>

        <label for="sexo">Sexo</label>
        <select id="sexo" name="sexo">
          <option value=""></option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        <input type="text"  name="fecha_nacimiento" id="fecha_nacimiento" placeholder="<%=Time.now.strftime('%d-%m-%Y') %>"/>
        <label for="institucion_nacimiento">Institucion Nacimiento</label>
        <input type="text"  name="institucion_nacimiento" id="institucion_nacimiento" />
        <label for="observacion_institucion">Observaciones de la Institución</label>
        <textarea rows="4" cols="50" name="observacion_institucion" id="observacion_institucion">Agregue aqui sus observaciones de la institución...</textarea>
        <label for="meses_nacimiento">Meses de Nacimiento</label>
        <input type="text"  name="meses_nacimiento" id="meses_nacimiento" />
        <label for="parto_normal">Tilde si fue un parto normal</label>
        <input type="checkbox" class="pure-checkbox" name="parto_normal" id="parto_normal" />
        <label for="sabia_sdown">Tilde si previo al parto ya sabía que tenía Síndrome de Down</label>
        <input type="checkbox" class="pure-checkbox" name="sabia_sdown" id="sabia_sdown" />
        <label for="recepcion_flia">¿Cómo lo recibio la familia?</label>
        <textarea rows="4" cols="50" id="recepcion_flia" name="recepcion_flia"></textarea>
        <label for="patologia_agregada">Patología Agregada</label>
        <textarea rows="4" cols="50" placeholder="Agregue aqui patalogías adicionales..." id="patologia_agregada" name="patologia_agregada"></textarea>

    </fieldset>

   <!--   </div>

    <div id="tab-observaciones-generales">
-->
    <fieldset>

      <!-- TODO: Falta los hermanos "nombre" y "si conviven con el nacido o no" -->
      <legend>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwwsPjW_fuAQqMBgbDXmbHHzxtC4O_eRD2UfNLOCKwKmL_ndH00w" width="24" height="24">
        Observaciones</legend>
      <textarea rows="4" cols="120" placeholder="Agregue aqui sus observaciones generales acerca de la entrevista..." id="observaciones" name="observaciones"></textarea>
    </fieldset>

    <input type="button" onClick="enviar_formulario();" class="pure-button pure-button-primary" name="submit" value="Dar de Alta esta Entrevista" id="submitbutton"/>
    <input type="reset" class="pure-button pure-button-primary" name="reset" value="Limpiar campos" id="resetbutton"/>

<!--    </div>
-->
</form>

  <script type="text/javascript">

    /*
      $(document).ready(function() {
          $(function () {
              $("#tabs-alta-nueva-entrevista").tabs();
          });
      });
     */


    function enviar_formulario(sender) {


        $("#alta_nueva_entrevista").validate();

        if(!$("#alta_nueva_entrevista").valid()) return;

        var postData = $("#alta_nueva_entrevista").find('input, select, textarea, button').serializeArray();

        var formURL = "entrevista/do_alta_nueva_entrevista";

            $.ajax({
                url : formURL,
                type: "POST",
                data : postData,
                //contentType:"application/json; charset=utf-8",
                // dataType:"json",
                success:function(data, textStatus, jqXHR) {
                    if(data.status==="OK") {
                        $("#modal_entrevista_alta_exitosa").dialog({
                            modal: true,
                            buttons: {
                                Ok: function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                    else {
                        mostrar_error_tecnico();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    mostrar_error_tecnico();
                }
            });
    }


      jQuery.validator.addMethod('fecha_retroactiva',
              function(currentValue, validatedElement, args) {
                  return $("#" + args[0]).val() <= $("#" + args[1]).val();
              },
              'La Fecha de Llamada de una Entrevista debe ser el mismo día o posterior al de Fecha de Entrevista.'
      );


    $("#alta_nueva_entrevista").validate({
        invalidHandler: function(event, validator) {
            $("#modal_entrevista_alta_fallida_revisar_campos_obligatorios").dialog({
                        modal: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    }
            );
        },
        submitHandler: function() {
        },
        rules: {
            "fecha_llamada"     : { required: true, minlength: 10},
            "fecha_entrevista"  : {
                required: true,
                minlength: 10,
                fecha_retroactiva: ["fecha_llamada", "fecha_entrevista"]
            },
            "lugar"             : { required: true, minlength: 3 },
            "como_supo"         : { required: true, minlength: 3 },
            "papa_nombre_apellido" : { required: true, minlength: 3 },
            "papa_edad"         : { required: true, minlength: 2 },
            "papa_ocupacion"    : { required: true },
            "papa_domicilio"    : { required: true },
            "papa_telefonos"    : { required: true },
            "papa_correo"       : { required: true, email: true },
            "mama_nombre_apellido" : { required: true },
            "mama_edad"         : { required: true, minlength: 2 },
            "mama_ocupacion"    : { required: true },
            "mama_domicilio"    : { required: true },
            "mama_telefonos"    : { required: true },
            "mama_correo"       : { required: true, email: true },
            "sexo"              : { required: true },
            "fecha_nacimiento"  : { required: true },
            "institucion_nacimiento"  : { required: true },
            "observacion_institucion" : { required: true },
            "meses_nacimiento"  : { required: true },
            "recepcion_flia"    : { required: true }
        }
    });


    $(function() {
        $( '#fecha_llamada' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#fecha_entrevista' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#fecha_nacimiento' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#papa_edad' ).spinner({
            max: 120,
            min: 12
        });
        $( '#mama_edad' ).spinner({
            max: 120,
            min: 12
        });
        $( '#meses_nacimiento' ).spinner({
            max: 9,
            min: 5
        });

    });

</script>

<div id="modal_entrevista_alta_exitosa" title="Mensaje" style="display:none;">
  La entrevista ha sido dada de alta en forma exitosa!
</div>


  <div id="modal_entrevista_alta_fallida_revisar_campos_obligatorios" title="Mensaje" style="display:none;">
    La entrevista no puede ser dada de alta porque algunos campos son obligatorios y no fueron completados, revise los campos indicados (*) y luego vuelva a aceptar.
  </div>

</div>
