<div class="contenido-tab">
  <table id="flex1" style="display:none"></table>

</div>

<script type="text/javascript">

    $('#ventana_entrevista').dialog({
        autoOpen: false,
        resizable: false,
        modal: true,
        width:'auto',
        height: 'auto',
        draggable: false,
        position: 'center'
    });

    $("#flex1").flexigrid({
                url: '<%=entrevista_do_buscar_entrevistas_path%>',
                dataType: 'json',
                colModel : [
                    { display: 'Diferencia L/E', name: 'cantidad_dias', width : 70, sortable : true, align: 'right', process: renderDiffLEColumn },
                    { hide: true, display: 'Entrevista', name: 'r_id', width : 70, sortable : true, align: 'right' },
                    { display: 'Fecha Llamada', name: 'fecha_llamada', width : 90, sortable : true, align: 'left' },
                    { display: 'Fecha Entrevista', name: 'fecha_entrevista', width : 90, sortable : true, align: 'left' },
                    { display: 'Estado', name: 'descripcion_estado', width : 90, sortable : true, align: 'left', process: renderDescripcionEsado },
                    { display: 'Papá Escucha', name: 'papa_escucha', width : 120, sortable : true, align: 'left' },
                    { display: 'Mamá Escucha', name: 'mama_escucha', width : 120, sortable : true, align: 'left' },
                    { display: 'Nombre(s) del Hijo/Hija', name: 'nombres', width : 120, sortable : true, align: 'left' },
                    { display: 'Ubicacion', name: 'ubicacion', width : 90, sortable : true, align: 'left' },
                    { display: 'Edad del Hijo/Hija', name: 'edad', width : 90, sortable : true, align: 'left', process: renderEdad },
                    { hide: true, name: 'color_estado', width : 90, sortable : true, align: 'left' }
                ],
                buttons : [
                    {name: 'Nueva'    , bclass: 'iconButtonAdd'   , onpress : comandosGrillaEntrevistas },
                    {name: 'Modificar', bclass: 'iconButtonEdit'  , onpress : comandosGrillaEntrevistas },
                    {name: 'Consultar', bclass: 'iconButtonQuery' , onpress : comandosGrillaEntrevistas },
                    {name: 'Eliminar' , bclass: 'iconButtonDelete', onpress : comandosGrillaEntrevistas },
                    {name: 'Cambiar Estado' , bclass: 'iconButtonStateChange', onpress : comandosGrillaEntrevistas },
                    {name: 'Agendar Entrevista' , bclass: 'iconButtonCalendar', onpress : comandosGrillaEntrevistas },
                    {name: 'Asignar Padre(s) Escucha' , bclass: 'iconButtonParentsChange', onpress : comandosGrillaEntrevistas },
                    {separator: true},
                    {name: 'Notificar', bclass: 'iconButtonNotify', onpress : comandosGrillaEntrevistas },
                    {name: 'Imprimir' , bclass: 'iconButtonPrint' , onpress : comandosGrillaEntrevistas },
                    {separator: true},
                    //{name: 'Seleccionar Todo', bclass: 'iconButtonSelectAll', onpress: comandosGrillaEntrevistas },
                    {name: 'Deseleccionar Todo', bclass: 'iconButtonDeselectAll', onpress: comandosGrillaEntrevistas },
                    {separator: true},
                    {name: 'Descargar a Excel', bclass: 'iconButtonExcel', onpress: comandosGrillaEntrevistas }
                ],
                searchitems : [
                    {display: 'Fecha Entrevista', name : 'fecha_entrevista'},
                    {display: 'Papá Escucha', name : 'papa_escucha'},
                    {display: 'Mamá Escucha', name : 'mama_escucha'},
                    {display: 'Estado', name : 'descripcion_estado'}
                ],
                sortname: "fecha_llamada",
                sortorder: "desc",
                usepager: true,
                useRp: false,
                rp: 20,
                showTableToggleBtn: false,
                resizable: false,
                singleSelect: false,
                pagestat: "Registros desde el {from} al {to} de un total de {total}",
                pagetext: "Página",
                outof: "de",
                //height: "auto",
                findtext: "Búsqueda",
                nomsg: "Vacío",
                processRow: renderRow,
                striped: false
            }
    );

    function renderEdad(col, id) {
        // TODO: PAPE-30
        var diff = parseInt(col.innerHTML);
        var unidadMedidaText = "menor de 1 año";
        if (diff > 1) {
            unidadMedidaText = "años"
        }
        else if (diff == 1) {
            unidadMedidaText = "año";
        }
        else if(isNaN(diff)) {
            return;
        }
        else {
            col.innerHTML = unidadMedidaText;
            return;
        }
        col.innerHTML = diff + " " + unidadMedidaText
    }

    function renderDiffLEColumn(col, id) {
        $(col).css("font-weight", "bold");
        var diff = Math.abs(parseInt(col.innerHTML));
        var diffText = "";
        var unidadesText = "días";

        if(diff == 0) {
            diffText = "En el día";
            unidadesText = "";
        }
        else {
            if (diff > 31 ) {
                diff = Math.floor(diff/30) + (( (diff % 30) > 0)? 1 : 0);
                unidadesText = "meses";
                diffText = Math.abs(diff) + " " + unidadesText;
            }
            else if(diff >= 7) {
                unidadesText = "semanas";
                if(diff == 7) { 
                    unidadesText = "semana";
                }
                diff = Math.floor(diff/7) + (( (diff % 7) > 0)? 1 : 0);
                
                diffText = Math.abs(diff) + " " + unidadesText;
            }
            else if(diff < 7) {
                if(diff == 1) {
                    unidadesText = "día";
                }
                diffText = Math.abs(diff) + " " + unidadesText;
            }
        }
        col.innerHTML = diffText;
    }

    function renderDescripcionEsado(col, id) {
        // TODO: FIXME: Cambio de ultimo momento antes de salir con BETA-1
        if(col.innerHTML == "Nueva") {
            $(col).css("font-weight", "bold");
        }
    }

    function renderRow(grid, prototype, row) {
        var color = $(row).find("[abbr='color_estado']")[0].innerText.trim();
        $(row).css("background-color", color);
    }

    function comandosGrillaEntrevistas(command, grid) {

        var rows = $('.trSelected', grid);
        var rows_selected = rows.size();

        if(command === "Seleccionar Todo") {
            $('.bDiv tbody tr', grid).addClass('trSelected');
            return;
        }

        if(command === "Deseleccionar Todo") {
            $('.bDiv tbody tr',grid).removeClass('trSelected');
            return;
        }

        if(command === "Descargar a Excel") {
            var qtype = $('.sDiv2').find('select').val();
            var query = $('.sDiv2').find('input').val();
            descargar_entrevistas_excel(qtype, query);
            return;
        }

        if(command === "Nueva") {
            mostrar_alta_nueva_entrevista();
            return;
        }else if(command === "Notificar") {
            enviar_notificaciones();
            return;
        }

        if(rows_selected > 1
              && command != 'Asignar Padre(s) Escucha'
              && command != 'Agendar Entrevista'
              && command != 'Cambiar Estado') {
            alert('No puede Consultar/Modificar más de una Entrevista a la vez, quite de su selección ' + (rows_selected-1) + ' Entrevistas.')
            return;
        }
        else if(rows_selected == 0) {
            alert('No hay ninguna Entrevista seleccionadas para iniciar la acción.');
            return;
        }

        var id = null;
        var ids = [];

        rows.each(function() {
            id = $(this).find("[abbr='r_id']")[0].innerText.trim();
            ids.push(id);
        });

        switch(command) {
            case "Cambiar Estado":
                mostrar_cambiar_estado_entrevista(ids);
                break;
            case "Agendar Entrevista":
                mostrar_agendar_entrevista(ids);
                break;
            case "Asignar Padre(s) Escucha":
                mostrar_asignar_padres_entrevista(ids);
                break;
            case "Imprimir":
                descargar_entrevistas_pdf(id);
                break;
            case "Modificar":
                mostrar_actualizar_entrevista(id);
                break;
            case "Consultar":
                mostrar_consulta_entrevista(id);
                break;
            case "Eliminar":
                enviar_eliminacion_entrevistas(ids);
                break;
        }
    }

    function enviar_notificaciones() {
        $.ajax({
            url: '<%=entrevista_notificar_path%>',
            type: 'POST',
            data: null,
            dataType: 'json',
            contentType: 'application/json',
            success: function(data) {
                if(data.status === "OK") {
                    debugger;
                    if(data.data === 0) {
                        alert('No hay Entrevistas sin asignar Padres que Escuchan, no se notificó a ningún Padre.');
                    } else {
                        alert('Se notificaron a los Padres que Escuchan que hay Entrevistas sin asignar.');
                    }
                }
                else {
                    do_sesion_expiro();
                }

            },
            error: function(jqXHR, textStatus, errorThrown) {
                mostrar_error_tecnico();
            }
        });
    }
    function descargar_entrevistas_pdf(id) {
        window.location = '<%=entrevista_entrevistas_pdf_path%>' + '?ids_entrevistas=' + id
    }

    function descargar_entrevistas_excel(qtype, query) {
        window.location = '<%=entrevista_do_buscar_entrevistas_excel_path%>' + '?qtype=' + qtype + '&query=' + query;
    }

    function enviar_eliminacion_entrevistas(ids) {
        $.ajax({
            url: '<%=entrevista_eliminar_entrevistas_path%>',
            type: 'POST',
            data: JSON.stringify({
                ids: ids
            }),
            dataType: 'json',
            contentType: 'application/json',
            success: function(data) {
                if(data.status === "OK") {
                    alert('Se eliminaron las Entrevistas seleccionados.');
                    $('#flex1').flexReload();
                }
                else {
                    do_sesion_expiro();
                }

            },
            error: function(jqXHR, textStatus, errorThrown) {
                mostrar_error_tecnico();
            }
        });
    }


    function mostrar_asignar_padres_entrevista(ids) {
        $.ajax({
            url: '<%=entrevista_asignar_padres_entrevistas_path%>',
            data: { 'ids_entrevistas' : ids },
            method: 'GET',
            contentType: 'text/html',
            success: function(data) {
                $("#ventana_entrevista").html(data).dialog('open', { title: 'Asignar Padre(s) Escuchan a Entrevistas Seleccionada(s)'});
            }
        });
    }

    function mostrar_agendar_entrevista(ids) {
        $.ajax({
            url: '<%=entrevista_agendar_entrevistas_path%>',
            data: { 'ids_entrevistas' : ids },
            method: 'GET',
            contentType: 'text/html',
            success: function(data) {
                $("#ventana_entrevista").html(data).dialog('open', { title: 'Agendar Entrevista Seleccionada(s)'});
            }
        });
    }

    function mostrar_cambiar_estado_entrevista(ids) {
        $.ajax({
            url: '<%=entrevista_cambiar_estado_entrevistas_path%>',
            data: { 'ids_entrevistas' : ids },
            method: 'GET',
            contentType: 'text/html',
            success: function(data) {
                $("#ventana_entrevista").html(data).dialog('open', { title: 'Modificar Estado de Entrevista(s) Seleccionada(s)'});
            }
        });
    }

    function mostrar_alta_nueva_entrevista() {

        $.ajax({
            url: '<%=entrevista_alta_nueva_entrevista_path%>',
            method: 'GET',
            contentType: 'text/html',
            success: function (data) {
                $("#ventana_entrevista").html(data).dialog('open', { title: 'Alta de nueva Entrevista'});
            }
        });
    }

    function mostrar_actualizar_entrevista(id_entrevista) {

        $.ajax({
            url: '<%=entrevista_actualizar_entrevista_path%>',
            data: { 'id_entrevista' : id_entrevista },
            method: 'GET',
            contentType: 'text/html',
            success: function(data) {
                $("#ventana_entrevista").html(data).dialog('open', { title: 'Actualizar Entrevista'});
            }
        });

    }

    function mostrar_consulta_entrevista(id_entrevista) {
        $.ajax({
            url: '<%=entrevista_consulta_entrevista_path%>',
            data: { 'id_entrevista' : id_entrevista },
            method: 'GET',
            contentType: 'text/html',
            success: function(data) {
                $("#ventana_entrevista").html(data).dialog('open', { title: 'Consultando Entrevista'});
            }
        });
    }

</script>

<div id="ventana_entrevista"></div>