<link rel="stylesheet" href="http://asdra.org.ar/wp-content/plugins/the-events-calendar/resources/events.css?ver=3.9.1">

<div class="contenido-tab pure-form pure-form-stacked" >
  <div class="col-izquierda">


  <fieldset>
    <legend>Ultimas Novedades

      <a href="<%=welcome_mensajes_novedades_rss_path%>">
        <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678060-rss-20.png" alt="Novedades RSS" title="Suscribir a las novedades RSS"/>
      </a>
    </legend>


    <ul class="upcoming">

      <% if @mensajes_novedades.count == 0 %>
          <article class="n3t-event">
            <div class="n3t-event-date">
              <div class="n3t-event-month">
                <%= I18n.t("date.abbr_month_names")[DateTime.now.month] %></div>
              <div class="my-n3t-event-day" id="day_number"><%= DateTime.now.day %></div>
            </div>
            <div class="n3t-event-content" >
              <%= DateTime.now.strftime("%H:%M:%S") %>
              <br>
              <div style="font-size: large">
                Nadie publicó novedades aún! <img src="<%=image_url('smiley_bad.png')%>" width="24" height="24">
              </div>
            </div>
          </article>
      <%end%>

      <% @mensajes_novedades.each do |mensaje_novedad| %>
          <article class="n3t-event">
            <div class="n3t-event-date">
              <div class="n3t-event-month">
                <%= I18n.t("date.abbr_month_names")[DateTime.parse(mensaje_novedad.fecha).month] %></div>
              <div class="my-n3t-event-day" id="day_number"><%= DateTime.parse(mensaje_novedad.fecha).day %></div>
            </div>
            <div class="n3t-event-content" >
              <%= DateTime.parse(mensaje_novedad.fecha).strftime("%H:%M:%S") %>
              <br>
              <div style="font-size: large">
                <%= mensaje_novedad.mensaje %>
              </div>
            </div>
          </article>
      <% end %>

    </ul>

  </fieldset>
  </div>
<div class="col-derecha">

  <fieldset>

    <legend>Estadísticas
        <img src="<%=image_url('statistics.png')%>" width="20px" height="20px" alt="Estadísticas"/>
    </legend>

    <center>
      <p>...Proximamente...</p>

    </center>
    <div id="chart" style="width:200px;height:200px;display:inline-block"></div>

  </fieldset>
</div>

</div>


<script type="text/javascript">
  var chart1 = null;

    $(document).ready(function() {

        //cantidad_entrevistas.incrementTo(<%= @cantidad_entrevistas %>);


        //cantidad_padres_escuchan.incrementTo(<%= @cantidad_padres_escuchan %>);


        //cantidad_madres_escuchan.incrementTo(<%= @cantidad_madres_escuchan %>);
    });

</script>